h1,h2,h3,h4,h5,h6{
	color:#fff;
}

div{
	background-color: turquoise;
	display: flex;
	justify-content:center;
	text-align: center;
	align-items:center;
	padding: 40px 40px;
}

div.segundo{
	background-color: darkturquoise;
}

div.segundo h2{
	color:gold;
}
